ng-richtext-editor {
  display:block;

  .content {
    border:1px solid @ng-re-border-color;
    background-color: @ng-re-bg-color;

    outline:none;


    p {
      margin:0;
      padding:0;
    }
  }
}
